.imgs0logo {
    width: 100px;
    height: 100px;
}

.header-logo {
    display: inline-flex;
    flex: 3.6;
}

.header-logo h3 {
    padding: 20px;
    padding-block-start: 35px;
    font-size: 30px;
    font-family: 'Miriam Libre', sans-serif;
}

.details-abt-person-img-1 {
    width: 280px;
    border-bottom-right-radius: 65px;
    border: 12px solid blanchedalmond;
    box-shadow: 0 0 130px 0 black;
}

@media screen and (max-width: 570px) {
    .imgs0logo {
        width: 70px;
        height: 70px;
        padding-block-start: 5px;
    }
    .header-logo h3 {
        padding: 20px;
        padding-block-start: 30px;
        padding-inline-start: 5px;
        font-size: 20px;
    }
}